h1{
	text-align:center;
}
.box{
	background-color:grey;
	/*width:100%;*/
	border:2px solid black;
	/*display: inline-block;*/
	margin-bottom:3px; 
}
.row{
	width:100%;
}
/*.col-md-4{
	width:30%;
}*/
/*@media screen and (max-width: 767px){
	.col-sm-12{
		width:100% !important;
		color:white;
		background-color: white;
		display: block; 
	}
}
*/@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		width:49%;
		background-color: yellow;
		display: inline-block;
	}
	#lastdiv{
		width:98.9% !important;
		margin-top: 3px;
	}

}
@media (min-width: 992px) {
	.col-lg-4{
		width:32%;
		background-color: blue;
		display: inline-block;
		/*margin: 1.4%*/
	}

}

h2{
	background-color:pink;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 0px;
	width:120px;
	text-align: center;
	float:right;
}

p{
	font-family:ariel;
	text-align: justify;
	padding: 10px;
	font-weight: 500;
}